

.ui.primary.button {
    background-color: #D05B21;
}
.ui.small.menu{
    background: #A083B1;
    }
.ui.primary.button:hover {
    background-color: #B57855;}
.ui.segment {
    position: relative;
    background: #ffffff;
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    margin: 1rem 0em;
    padding: 1em 1em;
    border-radius: 0.28571429rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
}
