<template name="navbar">
	<div class="ui small menu">
  <a class="active item" href="/">
    Home
  </a>
  <a class="item" href="/featuredwine">
    Featured Wine
  </a>
  <div class="right menu">
    {{#if currentUser}}
      <a class=" item" href="/userhome">
        My Profile
      </a>
        <a class="item" href="/shopcart">
          <i class=" shop icon" ></i> Cart
          <div class="floating ui red label">{{cartno}}</div>
        </a>
      <div class="item">
          <div class="ui primary button" id="logout" onclick="location.href='/'">Sign out</div>
      </div>
       <!--  <a class="ui label">
        <img class="ui right spaced avatar image" src="http://semantic-ui.com/images/avatar/small/elliot.jpg">
        {{email}}
        </a> -->
   {{else}}
  	<div class="item">
        <div class="ui primary button" onclick="location.href='/login'">Sign in</div>
    </div>
    
    <div class="item">
        <div class="ui primary button" onclick="location.href='/register'">Sign Up</div>
    </div>
     {{/ if}}
  </div>
</div>
</template>