<template name="register">
	<div id="login">
	 <div class="ui grid">
	<div class="column">
    <div class="ui form">
      <div class="field">
        <label>Email</label>
        <div class="ui left icon input">
          <input type="email" name="email" placeholder="Email">
          <i class="user icon"></i>
        </div>
      </div>
      <div class="field">
        <label>Password</label>
        <div class="ui left icon input">
          <input type="password" name="password">
          <i class="lock icon"></i>
        </div>
      </div>
      <div class="ui blue submit button" id="register">Register</div>
    </div>
  </div>
</div>
</div>
</template>