<template name="pagnav">
			<div class="ui pagination menu">
		  <a class="active item" id="it1">
		    1
		  </a>
		  <a class="item">
		   2
		  </a>
		  <a class="item">
		   3
		  </a>
		  <a class="item">
		    4
		</a>
		</div>
</template>