<template name="login">
	<div id="login">
		<label><h1>LOGIN</h1></label>
	 <div class="ui grid">

	<div class="column">
    <div class="ui form">
      <div class="field">
        <label>Username</label>
        <div class="ui left icon input">
          <input type="email" placeholder="Username" name="email">
          <i class="user icon"></i>
        </div>
      </div>
      <div class="field">
        <label>Password</label>
        <div class="ui left icon input">
          <input type="password" name="password">
          <i class="lock icon"></i>
        </div>
      </div>
      <div class="ui blue submit button" id="userlogin" >Login</div>
    </div>
  </div>
</div>
</div>
</template>