.wi.ui.segment{
    position: relative;
    background: #ffffff;
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    margin: 1rem 0em;
    padding: 1em 1em;
    border-radius: 0.28571429rem;
    border: .5px solid rgba(34, 36, 38, 0.15);

}