<template name="wineinfo">
	
	<div class="ui grid">
		{{#each images}}
	   <div class="three wide computer nine wide tablet six wide mobile column">
		    <div class="wi ui segment">
		    	<img class="ui medium circular image" src="{{this.url}}" align="center">
		    </div>
	   </div>
	   <div class="nine wide computer three wide tablet six wide mobile column">
		    <div class="wi ui segment">
		    	<h1 class="ui  header">
			        {{title}}

			      </h1>
		    	
		    	<div class="ui divider"></div>
		    	<div class="ui tag labels">
		    	<a class="ui label">
				    ${{price}}
				  </a>
				</div>
		    	<div class="ui divider"></div>
		    	<h3 class="ui   header">
					  Notes

					</h3>	{{note}}
			
		    	<div class="ui divider"></div>
		    	<a class="ui red ribbon label">Region</a>
		    	{{region}}
		    	<div class="ui divider"></div>
		    	<a class="ui teal ribbon label">Country</a>
		    	{{country}} 
		    	<div class="ui divider"></div>
		    	<a class="ui orange ribbon label">Style</a>
		    	{{style}}
		    </div>
	   </div>
		  <div class="four wide column">
		    <div class="ui segment">Content</div>
		  </div>
		   {{/each}}
 	</div>
</template>