<template name="featuredwine">
	<div class="ui two column stackable grid">
    <div class="ten wide column">
    	<div class="ui segment">
	    	<div class="ui three column doubling grid container">
			  
				{{#each images}}
			    <div class="column">
			   		<div class="ui segment single_item">
			   			<!-- <img class="ui top aligned tiny image" src="{{this.url}}" id="img1" href="/wineinfo/{{imageid}}"> -->
			       		<a target="_blank"><img src="{{this.url}}" alt="" class="ui top aligned tiny image" />
			       
			       		</a>

				        <p>{{title}}</p>
				        <p>{{price}}.RS</p>
				        <button class="ui basic button">
						  <i class="shop icon"></i>
						  Add to cart
						</button>
				        <!--<div class="ui vertical animated button" tabindex="0">
							  <div class="hidden content">Buy</div>
							  <div class="visible content">
							  <i class="shop icon"></i>
							  </div>
						</div>-->
			      		</div>
			 	 </div>
			    {{/each}}
			</div>
			<div class="ui buttons">
			  <!-- <button class="ui button" id="prev">Prev</button> -->
			  	<div class=""></div>
			  	<div class="ui pagination menu">
			  	{{#each pages}}
					<a class="item" href="/wine/{{no}}">
					    {{no}}
					</a>
				{{/each}}
				</div>
			  <!-- <button class="ui positive button" id="next">Next</button> -->
			</div>
  		</div>
  		
	</div>
		<div class="six wide column">
	    	<div class="ui segment">Content</div>
	  	</div>
	</div>

</template>