<template name="shopcart">
	<div class="ui two column stackable grid">
	  <div class="ten wide column">
	    <div class="ui segment">
	    		<table class="ui striped table">
				  <thead>
				    <tr>
				      <th>Product</th>
				      <th>Unit Price</th>
				      <th>Quantity</th>
				      <th>Subtotal</th>
				       <th></th>
				    </tr>
				  </thead>
				  
				  <tbody>
				  	{{#each items}}
				  	<tr >
			      		<td>{{cart_items.title}}</td>
			      		<td> {{cart_items.price}}</td>
			      		<td><input type="number" value="{{item_qty}}" id="qty"></td>
			      		<td class="total"> {{subTotal}}</td>
			      		<td><div class="column "><i class="remove icon" id="delete"></i></div></td>
				  	</tr>
				  	{{/each}}
				  <!-- 	{{#each carts}}
				    <tr>
			      		<td>{{title}}</td>
			      		<td>{{price}}</td>
			      		<td>
				      	<div align="center">
	    					<input name="" value="" min="" size="4" title="Qty" class="input-text qty" maxlength="5">    
			        	</div>
		        		</td>
		        		<td></td>
				      <td><div class="column"><i class="remove icon delete"></i></div></td>
				    </tr>
				    {{/each}} -->
				  </tbody>
				 
				  <tfoot>
				  	<tr>
				  		<td><button class="ui  green basic button" onclick="location.href='/featuredwine'">Continue Shopping</button>
				  			<!-- <button class="ui  red basic button" id="update">Update cart</button> -->
				  			<button class="ui  red basic button" id="clear">Clear cart</button></td>
				  	</tr>
				  </tfoot>	
				</table>
			<label class="ui label">Grand Total: {{total}}</label>
			<button class="ui  green basic button">Proceed to secure checkout</button>
	    </div>

	  </div>
	  <div class="six wide column">
	    <div class="ui segment">Content</div>
	  </div>
	</div>
	
</template>