<template name="userhome">
	<div class="ui two column stackable grid">
	<div class="ten wide column">
    <div class="ui segment">
    <div class="ui three column doubling grid container">
		  
			{{#each images}}
		      <div class="column">
		    <div class="ui segment">
		        <img class="ui top aligned tiny image" src="{{this.url}}">
		        <p>{{title}}</p>
		        <p>{{price}}.RS</p>
		      </div>
		   
		      <div class="ui button" id="delete">
			  Delete
			  </div>
		  </div>
		    {{/each}}
		   
</div>
    </div>
  </div>
  <div class="six wide column">
    <div class="ui segment">
    	    <div class="ui form">
		    <div class="field">
			    <label>Image URL</label>
			    <input type="URL" id="url">
		    </div>
		    <div class="field">
			    <label>Title </label>
			    <input type="text" id="title">
		    </div>
		    <div class="field">
			    <label>Price </label>
			    <input type="number" id="price">
		    </div>
		    <div class="field">
			    <label>Notes</label>
			    <textarea id="note"></textarea>
			</div>
			<div class="three fields">
				    <div class="field">
				      <label>Region</label>
				      <input type="text" id="region" placeholder="Region">
				    </div>
				    <div class="field">
				      <label>Country</label>
				      <input type="text" id="country" placeholder="Country">
				    </div>
				     <div class="field">
				     	 <label>Style</label>
				     	<select class="ui dropdown" id="style">
						  <option value="">Style</option>
						  <option value="Red">Red</option>
						  <option value="White">White</option>
						   <option value="Rose">Rose</option>
						    <option value="Sparkling">Sparkling"</option>
						     <option value="Sweet">Sweet</option>
						      <option value="Fortified">Fortified</option>
						      <option value="Spirits">Spirits</option>
						      <option value="Olive">Olive oil</option>
						</select>
				     </div>
			</div>
		    <button class="ui secondary button" id="add">
			  ADD
			</button>
			</div>
    </div>
  </div>
</div>
</template>